body {
  margin: 0;
}

.container-register {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  width: 340px;
  background: #2a2a2a;
  padding: 35px;
  border-radius: 18px;
  position: relative;

  box-shadow:
    0 0 20px rgba(255,255,255,0.04),
    0 10px 30px rgba(0,0,0,0.6);
}

.register-form h1 {
  text-align: center;
  color: white;
  font-size: 42px;
  margin-bottom: 28px;
  font-weight: 700;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

/* label */
.input-group label {
  color: rgba(255,255,255,0.5);
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 6px;
}

.input-group input {
  width: 100%;
  height: 40px;

  background: rgba(255,255,255,0.5);;
  border: none;
  outline: none;

  border-radius: 8px;

  padding: 0 14px;

  color: white;
  font-size: 14px;

  transition: 0.25s;
}

.input-group input::placeholder {
  color: rgba(255,255,255,0.35);
}

.input-group input:focus {
  background: rgba(255, 255, 255, 0.588);;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.08);
}

.text-warning {
  display: block;
  text-align: center;

  margin-top: 8px;
  margin-bottom: 18px;

  font-size: 11px;
  color: rgba(255,255,255,0.45);

  cursor: pointer;
}

.submit-button {
  width: 100%;
  height: 42px;

  border: none;
  border-radius: 999px;

  background: white;
  color: #151525;

  font-weight: 700;
  letter-spacing: 1px;

  cursor: pointer;

  transition: 0.25s;
}

.submit-button:hover {
  transform: scale(1.02);
}

.back-button {
  position: absolute;
  top: 15px;
  left: 15px;

  background: transparent;
  border: none;

  color: white;
  font-size: 20px;

  cursor: pointer;
}

/* errors */
.errors {
  color: #ff7b7b;
  font-size: 12px;
  margin-top: 5px;
}